
body{
    background-color: lightblue;
    color:white;
    padding: 0;
    margin: 0;
}
#header{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: center;
    gap:4rem;
    background-color: black;
    padding: 0.5rem;
  }
  #nav-bar{
    display: flex;
    gap:4rem;
  }
  .form-body{
    justify-content: center;
    display:flex;
    flex-direction:column;
    font-size: 20px;
    color:black;
    gap:1rem;
  }
  
  .nav-link{

    text-decoration:none;
    color:white;
    font-weight: 600;
    font-size: 2rem;
  }
  #form{
    justify-content: center;
    align-items: center;
    gap: 3rem;
    justify-self: center;
    align-self: center;
    display:flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: 50%;
    border-radius: 50px;
  }
img{
  width: 4rem;
  height: 4rem;  
  border-radius: 10px;
}

video{

    margin-top: 8rem;
    height: auto;
    width: 70%;
    object-fit: contain;
    justify-self: center;
    align-self: center;
    display: flex;
    border-radius: 20px;
    margin-bottom: 2rem;

}

@media (max-height:800px) and (max-width: 600px) {
    #form {
      background-color: lightblue;
      height: 25%;
    }
  }
